.atable {
    width: 100%;
    border-collapse: collapse;
    margin-top:20px;
}
  
.atd {
    border: 1px solid #bbb;
    padding: 8px;
    text-align: left;
}

.ath {
    border: 1px solid #bbb;
    padding: 8px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #e5e5e5;
}
  