.navbar-container {
    padding: 7px;
    display: flex; 
    flex-direction: column;
    background-color: lightblue;
    top: 0px;
    left: 0px;
    position: sticky;
}

.navbar-icon {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}