.navbar-container {
    padding: 7px;
    display: flex; 
    flex-direction: column;
    height: 100vh - 14px;
    background-color: lightblue;
}

.navbar-icon {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}